body {
	margin: 0;
	font-family: 'Nunito', sans-serif;

	font-size: 25px;
	line-height: 1.2;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


.img{
	margin: 0;
}
.text{

	margin: 0 auto;
}
.button{
	text-decoration: none;
	color: black;
}
.backbut{
	text-decoration: none;
	color: black;
	
}