body {
	margin: 0;
	font-family: 'Nunito', sans-serif;

	line-height: 1.2;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.container {
	display: flex;
	font-family: 'Nunito', sans-serif;
}

.text-in-container {
	margin: auto;

	display: flex;
	flex-direction: revert;
	justify-content: left;
	font-size: 18px;

	width: 800px;
	height: auto;

	border: 2px solid;
}

.button {
	text-decoration: none;
	color: black;
}

.backbut{
	text-decoration: none;
	color: black;
	
}