body {
	margin: 0;
	font-family: 'Nunito', sans-serif;

	font-size: 18px;
	line-height: 1.2;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}



.button{
	text-decoration: none;
	color: black;
}
.backbut{
	text-decoration: none;
	color: black;
	
}